skip_non_tags: true
image: Visual Studio 2015
environment:
  QTDIR: C:\Qt\latest\mingw73_32
  TOOLCHAIN_VERSION: 730_32
  MINGWDIR: C:\Qt\Tools\mingw%TOOLCHAIN_VERSION%
  PATH: '%QTDIR%\bin;%MINGWDIR%\bin;%PATH%'
  QWTDIR: C:\Qwt-6.1.5
cache: '%QWTDIR%'
build_script:
  - cmd: python build.py
test: off
artifacts:
  - path: 'Lenlab-*-win32.zip'
deploy:
  provider: GitHub
  auth_token:
    secure: 1jImAYiBl0QnfhjcWQIZJCu4egVYVbkB3A2yS3EBD3SxoPA3Gq65hy18n6kaAOh9
  force_update: true
  prerelease: true
